<!DOCTYPE html>
<html>
<head>
	<title>Some Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/styles.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
</head>
<body>
	<div class="container-fluid bg-1 text-center">
		<h1>HELLO</h1>
		<h3>MY NAME IS</h3>
		<h5>{{name}}</h5>
			</div>
		</form>
	</div>
</body>
</html>